
.breeds__bar {
    margin: 2rem 2rem 1rem;
    height: 60px;
  }

.filtering__categories {
    margin-bottom: 1rem !important;
}

.product__characteristic {
    display: flex;
    align-items: center;
}

.blue-button {
    background: #1BD3E8 !important;
    color: #fff !important;
    box-shadow: 0 0 0 0px #1BD3E8 !important;
  }