.accessories__container {
    margin: 0 2rem;
}

.filtering__categories {
    margin-bottom: 1rem !important;
}

.accessories__bar {
    display: flex;
    justify-content: space-between;
    margin-top: 2%;
}

.product__characteristic {
    display: flex;
    align-items: center;
}

.blue-button {
    background: #1BD3E8 !important;
    color: #fff !important;
    box-shadow: 0 0 0 0px #1BD3E8 !important;
  }