a {
    color: black !important;
  }
  
  .button {
    justify-content: center;
  }
  
  .ui.button {
    background: #1bd3e8 !important;
    color: #fff !important;
  }
  
  .ui.brown.button,
  .ui.brown.button:hover {
    background-color: #b66d49 !important;
  }
  
   .input {
    width: 19vw;
  } 
  