/* 
  .regular.ui.button {
    background: #1bd3e8 !important;
    color: #fff !important;
  }
  
  .regular.ui.brown.button,
  .regular.ui.brown.button:hover {
    background-color: #b66d49 !important;
  } */
 