.dashboard-container {
  display: flex;
  justify-content: space-around;
  height: 100vh;
  background: url(./cat-grey.png);
}

.dashboard-card-box {
  display: flex !important;
  flex-wrap: wrap !important;
  max-width: 1080px !important;
  justify-content: space-evenly;
  align-items: center;
}

.dashboard-grid-content {
  max-width: 200px !important;
  margin: 10px !important;
  background-color: #B66D49 !important;
}

.dashboard-header {
  font-size: 20px !important;
    font-weight: 600;
    color: white!important;
    text-align: center !important;
}

.dashboard-graph-header {
  font-size: 20px !important;
  font-weight: 600;
  color: black! important;
  text-align: center !important;
}

.graph {
  background-color: #FFFFFF;
}

.image-background {  
  background-color: #FFFFFF !important;
}