.dashboard-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100vh;
}

.dashboard-card-box {
  margin: auto !important;
  display: flex !important;
  flex-wrap: wrap !important;
  max-width: 1080px !important;
  justify-content: space-evenly;
  align-items: center;
}

.dashboard-grid-content {
  max-width: 300px !important;
  margin: 10px !important;
}
