.profile__categories {
  margin-bottom: 1rem !important;
}

.display-flex {
  display: flex;
  align-items: center;
}

.space-evenly {
  justify-content: space-evenly;
}

.flex-end {
  justify-content: flex-end;
}

.direction-column {
  flex-direction: column;
}

.edit-input {
  border: 0;
  background-color: #fff !important;
}

.blue-button {
  background: #1bd3e8 !important;
  color: #fff !important;
  box-shadow: 0 0 0 0px #1bd3e8 !important;
}
