
.wider_column {
  text-align: center;
}

.cat_title {
  align-self: flex-end;
  font-size: 36px;
}

.cat_input {
  margin: 10px 0;
  width: 400px
}

.cat_input .ui.button {
  background: #1BD3E8 !important;
  color: #fff !important;
  box-shadow: 0 0 0 0px #1BD3E8 !important;
}

.cat_segment {
  margin: 1rem 4rem 1rem !important;
}

.cat_card_group {
  margin: 0 2rem !important;
  justify-content: space-around !important;
}

.cat_card {
  width: 350px !important;
}

.cat_img {
  height: 250px;
}

.cat_name {
  font-size: 24px !important;
  font-weight: 600;
  color: black!important;
}

.ui.labeled.button.cat_button {
  margin-bottom: 15px !important;
}

.ui.brown.button.cat_button, 
.ui.brown.button.cat_button:hover {
  background-color: #B66D49 !important;
  justify-content: center;
  height: 42px;
  color: #fff !important;
  box-shadow: 0 0 0 0px #B66D49 !important;
}



