
.wider_column {
  text-align: center;
}

.cat_card_group {
  margin: 0 2rem !important;
  justify-content: space-around !important;
}

.cat_card {
  width: 350px !important;
  margin-left: auto !important;
  margin-right: auto !important;
}

.cat_img {
  height: 250px;
  width: fit-content;
}

.cat_content {
  text-align: center !important;
}

.cat_name {
  font-size: 24px !important;
  font-weight: 600;
  color: black!important;
  text-align: center !important;
}

.ui.labeled.button.cat_button {
  margin-bottom: 15px !important;
  justify-content: center;
}

.cat__characteristic {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.cat__description {
  text-align: justify !important;
}
