.navigation.button:hover {
  box-shadow: 0 0 0 2px #1BD3E8 !important;
  color: #1BD3E8 !important;
  background-color: transparent !important;
  transition: ease-in-out 0.3s;
}

.navigation.button {
  box-shadow: 0 0 0 2px #fff !important;
  color: #fff !important;
  background-color: #B66D49 !important;
}

.large-font{
  font-size: 18px !important;
}

.small-font{
  font-size: 16px !important;
}

.small-button{
  width: 40% !important;
  margin: 0 5% !important;
}

a.active .navigation.button{
  box-shadow: 0 0 0 2px #fff !important;
  color: #B66D49 !important;
  background-color: #fff !important;
}

.small-container {
  height: 10%;
}

.navigation-user-image {
  width: 120px !important;
  height: auto;
  margin-bottom: 5%;
}

.blue-background {
  background-color: #1BD3E8 !important;
}

.white-text {
  color: #FFFFFF !important;
}

.flex-center {
  display: flex !important;
  flex-direction: column !important;
  justify-content: space-around !important;
}

.button-box {
  height: 100%;
}

.padding-fifteen {
  padding: 15px !important;
}