.navigation.button:hover {
  box-shadow: 0 0 0 2px #1BD3E8 !important;
  color: #1BD3E8 !important;
  background-color: transparent !important;
  transition: ease-in-out 0.3s;
}

.navigation.button {
  box-shadow: 0 0 0 2px #fff !important;
  color: #fff !important;
  background-color: transparent !important;
  font-size: 18px !important;
}

a.active button{
  box-shadow: 0 0 0 2px #fff !important;
  color: #B66D49 !important;
  background-color: #fff !important;
}

.small-container {
  height: 10%;
}

.navigation-user-image {
  background-color: gray !important;
  width: 150px !important;
  height: 150px !important;
  align-self: center !important;
}

.blue-background {
  background-color: #1BD3E8 !important;
}

.white-text {
  color: #FFFFFF !important;
}

.flex-center {
  display: flex !important;
  flex-direction: column !important;
  justify-content: space-around !important;
}